@using HanahirakebaFuuuOshi.OAuth
@using HanahirakebaFuuuOshi.Config
@inject OAuth2Twitter author
@inject ConfigStatefulService config

@if (isInCompleteAuth) {
<div class="alert alert-secondary mt-4 ">
	<div>
		<button @onclick="Auth" class=@clickedAuthCssClass>認証</button>
			@if (isInputPin) {
				<input type="text" @bind="pin" /><button @onclick="SendPin">送信</button>
			}
			@if (isFailedAuth) {
				<div><strong>PINコードが間違っています。</strong></div>
				<div><button @onclick="Auth">再認証</button></div>
			}
		</div>
	</div>
}

@code {


	private bool isClickedAuth = true;

	private bool isInputPin = false;

	private string clickedAuthCssClass => isClickedAuth ? null : "collapse";

	private string inputPinCssClass => isInputPin ? null : "collapse";

	private string pin;

	private bool isFailedAuth = false;

	private bool isInCompleteAuth = true;

	protected override void OnInitialized() {
		isInCompleteAuth = config.userClient == null;
	}

	private async Task Auth() {
		await Task.Run(() => author.Auth());
		isClickedAuth = false;
		isInputPin = true;
	}

	private async Task SendPin() {
		var result = !(await author.SendPin(pin));
		isFailedAuth = result;
		isInCompleteAuth = result;
	}
}

